<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExternalTarget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>O9_O3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C91C3A01DDCDDCC00DEDC0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C91C3B41DDCDDCC00DEDC0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C91C3C81DDCDDFB00DEDC0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
